.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*input[type="text"]:disabled {
    background: #dddddd;
}*/



.splash {
  text-align: center;
  padding-top: 11em;;
  width: 100%;
  height:100vh;
  margin: 0 auto;
  background-color: #333;
  background-image: url('http://www.mrwallpaper.com/wallpapers/Colliding-Planets-1600x900.jpg')
}


/*h1.logo {
  font-family: "Euphemia UCAS";
  font-size: 200px !important;
  font-weight: normal;
  color: #222222;
}*/

#splash-container {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 10em;
  border-color: #fff
}

a.splash-link {
  color: #D1D1D1;
  padding-bottom: 0.2em;
  font-size: 1em;
}

.splash-text {
  color: #D1D1D1;
  padding-bottom: 0.3em;
  font-size: 3em;
  letter-spacing: 1px;
}

.splash-left {
  float: left;
  width: 49%;
  text-align: right;
  padding-right: 0.1em;
}

.splash-right {
  float: right;
  width: 49%;
  text-align: left;
  padding-left: 0.1em;
}

.entry-container {
    position:fixed;
    padding:0;
    margin:0 auto;
    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.entry-input {
  border: 0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: #eee;
  font-size: 25px;
  display: block;
  margin : 0 auto;
  position: fixed;
  left: 0;
  top: 5vw;
  width: 100vw;
  height: 10vw;
}

.entry-input-register {
  border: 0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: #eee;
  font-size: 25px;
  display: block;
  margin : 0 auto;
  position: relative;
  left: 0;
  top: 200;
  width: 100vw;
  height: 7vw;
}

.entry-input-register:focus {
  font-size: 25px;
  color: #eee;
}

.header-container {
  background-color: #fff;
}

.nav-bar-right {
  float:right;
}

.user-profile-image {
  width: 7em;
  height: 7em;

}

.user-organization-image {
  width: 10em;
  height: 10em;
}

input.header-container {
  border-width:0px;
  border:none;
  font-size: 1.2em;
  height: 1.4em;
  width: 100%;
}

textarea.bio {
  width: 90%;
  height: 200px;
  background-color: #fff;
  text-align: left;
  padding: 10, 10, 10, 10;
  border: 0px;
  font-size: 1.1em;
}

textarea.exp {
  width: 90%;
  height: 200px;
  background-color: #fff;
  text-align: left;
  padding: 10, 10, 10, 10;
  border: 0px;
  font-size: 1.1em;
}

.bio-save{
  width: 100%;
  height: 2em;
  font-size: 1em;
  color: #000;
  background-color: #999;
}

.exp-save{
  width: 100%;
  height: 2em;
  font-size: 1em;
  color: #000;
  background-color: #999;
}

h3.profile-header {
  font-size: 1.8em;
  padding-top: 0;
}

.user-profile-save {
  border-width:0px;
  border:none;
  font-size: 1em;
  background-color: #C0D9AF;
  color: #fff;
  width: 90%;
  padding: 10px;
}
ul {
  font-size: 1.2em;
  list-style-type: none;
  padding-left: 0px;
}

li {
  /*padding-left: 0px;*/
}

.interest-block {

}
